<main class="h-screen flex flex-col items-center justify-center gap-6 px-5 font-primary">
    <div>
        <img src="assets/images/silver-bird-logo.svg" alt="Silver Bird Logo">
    </div>
    
    <section class="w-full max-w-[400px] px-6 py-5 bg-semiDarkBlue rounded-lg shadow-md">
        <div>
            <h1 class="text-white text-[2rem] font-light mb-8">Sign Up</h1>
            <form action="" class="flex flex-col gap-2">
                <div class="flex flex-col gap-0 text-white">
                    <label for="firstname" class="text-greyishBlue px-3 text-[15px] font-extralight">First Name</label>
                    <input class="peer border-b-2 px-3 py-1 border-b-greyishBlue outline-0 text-white hover:border-b-white cursor-pointer" type="text" id="firstname" name="firstname" required>
                </div>
                <div class="flex flex-col gap-0 text-white">
                    <label for="lastname" class="text-greyishBlue px-3 text-[15px] font-extralight">Last Name</label>
                    <input class="peer border-b-2 px-3 py-1 border-b-greyishBlue outline-0 text-white hover:border-b-white cursor-pointer" type="text" id="lastname" name="lastname" required>                </div>
                <div class="flex flex-col gap-0 text-white">
                    <label for="email" class="text-greyishBlue px-3 text-[15px] font-extralight">Email Address</label>
                    <input class="peer border-b-2 px-3 py-1 border-b-greyishBlue outline-0 text-white hover:border-b-white cursor-pointer" type="email" id="email" name="email" required>
                </div>
                <div class="flex flex-col gap-1 text-white">
                    <label for="password" class="text-greyishBlue px-3 text-[15px] font-extralight">Password</label>
                    <input class="border-b-2 px-3 py-1 border-b-greyishBlue outline-0 text-white hover:border-b-white cursor-pointer" type="password" id="password" name="password" required>
                </div>
                <button class="bg-primary text-white py-2 rounded-lg font-light hover:bg-white hover:text-black cursor-pointer">Create Account</button>
                <p class="text-white font-light text-[15px] text-center">Already have an account? <a href="#" class="text-primary text-[15px] ml-3 hover:underline" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a></p>
            </form>
        </div>
    </section>
</main>