// styles.scss
@import "tailwindcss";

@theme {
    // Colors
    --color-primary: #FC4747;
    --color-darkBlue: #10141E;
    --color-semiDarkBlue: #161D2F;
    --color-greyishBlue: #5A698F;
    --color-white: #FFFFFF;

    // Fonts
    --font-primary: 'Outfit', sans-serif;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-darkBlue);
}

/* Autofill override for WebKit (Chrome, Edge, Safari) */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--color-semiDarkBlue) inset !important;
  box-shadow: 0 0 0 1000px var(--color-semiDarkBlue) inset !important;
  -webkit-text-fill-color: var(--color-white) !important;
  caret-color: var(--color-primary) !important;
  transition: background-color 5000s ease-in-out 0s; /* prevents flash */
}

/* Firefox autofill */
input:-moz-autofill,
textarea:-moz-autofill,
select:-moz-autofill {
  box-shadow: 0 0 0 1000px var(--color-semiDarkBlue) inset !important;
  -moz-text-fill-color: var(--color-white) !important;
  caret-color: var(--color-primary) !important;
}